<img src="http://img.alipay.net/pimg/icon_zggsyh.gif" height="30" border="0" alt="工商银行"/>	
<form name="order" id="order" method="post" action=$url target="_blank">
	<INPUT NAME="selserialNo" TYPE="hidden" value="$selserialNo">
	<INPUT NAME="selpayType" TYPE="hidden" value="$selpayType">
	<INPUT NAME="selcorpId" TYPE="hidden" value="$iselcorpId">
	<INPUT NAME="selaccountNo" TYPE="hidden" value="$selaccountNo">
	<INPUT NAME="merCertID" TYPE="hidden" value="$icbcSignInfo.merCertID">
	<INPUT NAME="merCert" TYPE="hidden" value="$icbcSignInfo.merCert">
		<INPUT NAME="regDate" TYPE="hidden" value="$icbcSignInfo.regDate">
		<INPUT NAME="HSURL" TYPE="hidden" value="$icbcSignInfo.HSURL">
		<INPUT NAME="payNo" TYPE="hidden" value="$icbcSignInfo.payNo">
		<INPUT NAME="certDate" TYPE="hidden" value="$icbcSignInfo.certDate">
		<INPUT NAME="certData" TYPE="hidden" value="$icbcSignInfo.certData">
		<input type="submit" id="dsubmit1" class="AlipayButton WordSeven" value="去签约" />
</form>